html {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: Roboto;
  overflow: auto;
  position: relative;
  height: 100%;
  background-color: #eeeeee;
}

.container {
  margin-left: 2em;
  margin-right: 2em;
}

.nav-wrapper {
  z-index: 10;
}

h1 {
  font-weight: 100;
  font-size: 10em;
}

h2 {
  font-weight: 100;
  font-size: 3em;
}

p {
  font-size: 1em;
}


#bigIcon {
  display:inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4vh;
  height: auto;
  width: 20em;
}

#iconRow {
  width: 100%;
}

#down {
  top: 4vh;
  left: 50%;
  margin-left: 50%;
}

#down img{
  height: 3em;
  width: auto;
}

.brand-logo {
  line-height: 2em;
  margin-left: 1em;
}

.brand-logo img {
  padding-top: 0.4em;
  height: auto;
  width: 1.4em;
}

#downloads {
padding-right: 2em;
}

.teamCard {
  min-width: 8em;
  margin: 0.6em;
  height: auto;
  max-width: 18em;
}

#teamCardContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.teamCard img{
  min-width: 6em;
  height: auto;

}

.notif {
  margin-left: 0.2em;
  padding: 0.1em;
  line-height: 1em;
  border-radius: 3px;
  font-size: 0.6em;
  font-weight: 400;

}
